body.lock{
    overflow: hidden;
}

@media (min-width: 767.98px){
    .header{
        &__burger{
            display: none;
        }
    }
}

@media (max-width: 767.98px){
    .header{
        &__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;
        
            &::before,
            &::after,
            span{
                content: '';
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
    
            &::before{top: 0;}
            &::after{bottom: 0;}
            span{top: 9px;}
        }

        &__burger.active{
            &::before{
                transform: rotate(45deg);
                top: 9px; 
            }

            &::after{
                transform: rotate(-45deg);
                bottom: 9px;
            }
    
            span{
                transform: scale(0);
            }
        }

        &__menu{
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.7s ease 0s;
            background-color: rgb(22, 22, 22);
            padding-top: 30px;
            overflow: auto;
            z-index: 1;
        }

        &__menu.active{top: 0;}

        &__list{
            flex-direction: column;
            align-items: center;
            padding-top: 80px;
        }
    
        &__item{
            margin-right: 0;
            margin-bottom: 30px;
        }

        &__link{
            font-size: 24px;
        }
    }
}