.teams{
    padding-top: 150px;

    &__title{
        margin-bottom: 80px;
    }
    &__content{
        position: relative;
    }
    &__roles{
        display: block;
        text-align: center;
    }
}


.teams-slider{
    overflow: hidden;
    &__wrapper{
        display: inline-flex;
    }    
}

.teams-slide{
    &__img{
        height: 400px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }
}

.swiper-button-disabled{
    opacity: 0;
    cursor: auto;
}

.slider__arrow_left{
    width: 40px;
    height: 40px;
    border-top: 6px solid #7f3ab8 ;
    border-right: 6px solid #7f3ab8 ;

    cursor: pointer;
    position: absolute;
    top: calc(50% + 20px);

    transform: rotate(-135deg);
    left: -75px;
    transition: opacity .2s ease;
}

.slider__arrow_rigth{
    width: 40px;
    height: 40px;
    border-top: 6px solid #7f3ab8 ;
    border-right: 6px solid #7f3ab8 ;

    cursor: pointer;
    position: absolute;
    top: calc(50% + 20px);;

    transform: rotate(45deg);
    right: -75px;
    transition: opacity .2s ease;
}


@media (max-width: 1317px){
    .teams__title{
        margin-bottom: 120px;
    }

    .slider__arrow_rigth{
        top: 100px;
        left: 60px;
    }

    .slider__arrow_left{
        top: 100px;
        left: 0;
    }
}

@media (max-width: 1176px){
    .teams{
        padding-top: 90px;
    }
}

@media (max-width: 991.98px){
    .teams{
        padding-top: 75px;
    }
}

@media (max-width: 767.98px){
    .teams{
        padding-top: 35px;
    }

    .teams-slider{
        overflow: visible;
    }

    .teams__title{
        margin-bottom: 60px;
    }

    .slider__arrow_rigth{
        display: none;
    }

    .slider__arrow_left{
        display: none;
    }
}