.teams{
    &__content{
        padding-top: 150px;
    }

    &__title{
        margin-bottom: 80px;
        text-align: center;
    }
}

.slider{
    position: relative;

    &__wrapper{
        margin: 0 70px;
        overflow: hidden;
    }

    &__btn{
        width: 70px;
        height: 20px;
        background-color: rgb(38, 38, 48);
        position: absolute;
        top: -40px;
        right: 82px;
        border-radius: 20%;
        transition: all .5s ease;

        &::before{
            content: '';
            width: 30px;
            height: 30px;
            background-color: rgb(52, 52, 66);
            border-radius: 50%;
            position: absolute;
            top: -5px;
            left: -4px;
            transition: all .5s ease;
        }
    }

    &__btn.active{
        background-color: #602c8b;

        &::before{
            background-color: #7f3ab8;
            left: 42px;
        }
    }

    .auto-scrol{
        position: absolute;
        top: -42px;
        right: 170px;
    }

    &__body{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        position: relative;
        left: -400%;
        transition: left .7s linear;
        gap: 20px;
    }

    &__item{
        min-width: 31.41%;
        height: 465px;

        img{
            object-fit: cover;
            width: 100%;
            height: 85%;
        }
    }

    &__nickname{
        text-align: center;
    }

    &__role{
        display: block;
        text-align: center;
    }

    &__dots{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 330px;
        margin: 0 auto;

        .dot{
            width: 20px;
            height: 20px;
            background:  #482168;
            border-radius: 50%;
        }
        
        .dot.active{
            background:  #7f3ab8;
        }
    }    
}
.slider__arrow_left{
    width: 40px;
    height: 40px;
    border-top: 6px solid #7f3ab8 ;
    border-right: 6px solid #7f3ab8 ;

    cursor: pointer;
    position: absolute;
    top: calc(50% - 80px);

    transform: rotate(-135deg);
    left: 8px;
}
.slider__arrow_rigth{
    width: 40px;
    height: 40px;
    border-top: 6px solid #7f3ab8 ;
    border-right: 6px solid #7f3ab8 ;

    cursor: pointer;
    position: absolute;
    top: calc(50% - 80px);

    transform: rotate(45deg);
    right: 8px;
}


@media (max-width: 1176px){
    .teams__content{
        padding-top: 90px;
    }
    
    .slider{
        &__item{
            min-width: 30.88%;
        }
    }
}

@media (max-width: 991.98px){
    .teams__content{
        padding-top: 75px;
    }

    .slider{
        &__item{
            min-width: 76.19666%;
            margin: 0 69px;
            height: 565px;
        }

        &__body{
            gap: 0px;
            transition: left 0.6s linear;
            left: -1300%;
        }

        &__dots{
            display: none;
        }

        &__arrow_left{
            left: 10%;
        }

        &__arrow_rigth{
            right: 10%;
        }

        &__btn{
            right: 140px;
    
            &::before{
                left: -4px;
            }
        }

        .auto-scrol{
            right: 230px;
        }

    }
}

@media (max-width: 767.98px){
    .slider{
        &__wrapper{
            width: 580px;
            margin: 0 auto;
        }

        &__btn{
            right: 20%;
    
            &::before{
                left: -4px;
            }
        }

        .auto-scrol{
            right: 33%;
        }
    }
}


@media (max-width: 655.98px){
    .teams__content{
        padding-top: 55px;
    }

    .slider__item{
        min-width: 93.3%;
        margin: 0 8px;
        height: 395px;
    }

    .slider__wrapper{
        max-width: 240px;
        margin: 0 auto;
    }

    .slider__arrow_left{
        left: 20%;
    }
    
    .slider__arrow_rigth{
        right: 20%;
    }


    .slider__btn{
        position: absolute;
        top: -40px;
        left: calc(50% + 45px);

        &::before{
            left: -4px;
        }
    }

    .auto-scrol{
        min-width: 300px;
        left: calc(50% - 50px);
    }
}

@media (max-width: 564px){
    .slider__arrow_left{
        left: 10%;
    }
    
    .slider__arrow_rigth{
        right: 10%;
    }
}

@media (max-width: 454px){
    .slider{

        &__arrow_left{
            left: 0;
        }

        &__arrow_rigth{
            right: 0;
        }
    }
}

.slider__nickname{
    margin-top: 10px;
    @include adaptiv-font(18, 12);
    font-weight: 800;
}